<form>
  <div class="container">
    <div class="banner">
      <img src="../../assets/logo.png" alt="logo">
    </div>
    <div class="content">
      <h1>Olá,<br>Bem-Vindo de Volta</h1>
      <input type="text" placeholder="Email" name="email" #username [(ngModel)]="login.email">
      <input type="password" placeholder="Senha" name="password" [(ngModel)]="login.password">
      <button (click)="loginUsuario()">Login</button>
      <a (click)="HandleLogin()">Não possuí uma Conta? Clique Aqui</a>

    </div>

  </div>
</form>